#main{
    background-color: antiquewhite;

}

h1{
    margin: 30px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Style Script', cursive;
}

#tagline{
    text-align: center;
}

#image{
    max-width: 100%;
    height: auto;
}

#caption{
    text-align: center;
}

ul{
    display: table;
    margin: 0 auto;
}

#timelineh3{
    text-align: center;
}

#footer{
    text-align: center;
}

#quote{
    text-align: center;
}

head{
    background-color: antiquewhite;
}

body{
    background-color: antiquewhite;
}